---
layout: default
slug: "/"
last_modified: 3 June 2020
---

<section class="events" id="events">
  {% assign current_time = site.time %}
  {% assign regions = site.events | map: 'region' | uniq %}

  {% for region in regions %}
    {% assign events_by_region = site.events | where: "region", region | sort: "date" %}
    {% assign upcoming_events_by_region = events_by_region | where_exp: "event", "event.date > current_time" %}
    
    {% if upcoming_events_by_region.size > 0 %}
      <div class="events__group">
        <h2 class="events__group-title">Upcoming events in {{ region }}</h2>
        <div class="events__list">
          {% for event in upcoming_events_by_region %}
            <article class="event">
              <div class="event__info">
                <h3 class="event__title"><a href="{{ event.link }}">{{ event.title }}</a></h3>
                <p class="event__date"><time datetime="{{ event.date }}">{{ event.date | date: "%A, %b %-d, %Y" }}</time> at <time datetime="{{ event.date }}">{{ event.date | date: "%-I:%M %p" }}</time></p>
                <p class="event__location"><span class="location">{{ event.location }}</span> (<a href="https://www.google.com/maps/search/?api=1&query={{ event.location | url_encode }}+{{ event.region | url_encode }}+ohio" class="google-maps" target="_blank">Google Maps</a>)</p>
              </div>
              <p class="event__details">
                {% if event.organizer %}
                <span class="event__organizers">
                  Organized by
                  {% for organizer in event.organizer %}
                    <span class="event__organizer">{{ organizer }}</span>{% unless forloop.last %}, {% endunless %}
                  {% endfor %}
                </span>
                {% endif %}
                {% if event.description %}
                  <span class="separator" aria-hidden="true">·</span> <span class="event__description">{{ event.description }}</span>
                {% endif %}
              </p>
            </article>
          {% endfor %}
        </div>
     </div>
    {% endif %}
  {% endfor %}
</section>

<section class="info">
  <h2>More information</h2>
  
  <h3>Support resources</h3>
  <ul>
    <li>Ongoing <a href="https://bit.ly/MH4gaza">list of mental health support and healing offerings</a> curated by NAAPIMH</li>
    <li>Ongoing <a href="https://tinyurl.com/resourcespi">list of virtual gatherings and support groups</a></li>
  </ul>
  
  <h3>Other calendars and aggregators</h3>
  <ul>
    <li>The <a href="https://samidoun.net/2023/10/calendar-of-resistance-for-palestine-events-and-actions-around-the-world/">Samidoun Palestinian Prisoner Solidarity Network</a> keeps an updated global list of events.
    </li>
    <li>ANSWER Coalition kept a <a href="https://www.answercoalition.org/join_a_protest_near_you_free_palestine">list of affiliated demonstrations</a> throughout the month of October 2023.</li>
  </ul>
</section>

<section class="events__past" id="past-events">
  <h2 class="events__group-title">Past events (Since Nov 1, 2022)</h2>
  <ul class="events__past__list">
    {% assign current_time = site.time %}
    {% assign past_events = site.events | where_exp: "event", "event.date < current_time" | sort: "date" | reverse %}
    
    {% for event in past_events %}
      {% if event.date < current_time %}
        <li>
          <time datetime="{{ event.date }}">{{ event.date | date: "%A, %b %-d, %Y" }}</time>: <a href="{{ event.link }}">{{ event.title }}</a> <span class="location">({{ event.region }})</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
