.events__region {
  display: inline-block;
  font-family: 'source-code-variable', 'ui-monospace', 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono', 'monospace';
  font-size: 1.5em;
  line-height: 1;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.events__group {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.events__list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media (min-width: 768px) {
  .events__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2em;
  }
} 
  
.events__list article {
  background-color: #f7f4ef;
  border: solid 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 8px 10px rgba(0, 0, 0, 0.05), 0 20px 40px rgba(0, 0, 0, 0.1);
  padding: 2em;
  transition: all 300ms;
  border-radius: 5px;
}

.events__list article:hover {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), 0 8px 10px rgba(0, 0, 0, 0.08), 0 20px 40px rgba(0, 0, 0, 0.12);
}

a.event {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-decoration: none;
}

.event__title {
  font-size: 1.825em;
  letter-spacing: -0.03em;
  font-weight: 600;
  line-height: 1;
}

@media (min-width: 768px) {
  .event__title {
    font-size: 2em;
    letter-spacing: -0.04em;
  }
}

.event__title {
  text-decoration: none;
}

.event__container:nth-child(odd) .event__title {
  color: #D20000;
}

.event__container:nth-child(even) .event__title {
  color: #000;
  }
  
.event__container:nth-child(3n+3) .event__title {
  color: #0D7009;
}

.event__info,
.event__organizers,
.event__content {
  color: #605e59;
}

.event__info time,
.event__info .location {
  font-weight: 500;
  color: #000;
}

.event__info .google-maps {
  font-size: 0.9em;
}

.event__info a {
  color: inherit;
  text-decoration-color: #c7c2b8;
}

.event__info a:hover {
  color: #000;
}

.event__details {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
