<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body class="site" id="top">
  <header class="site__header">
    <span class="site__title">
      <h1>{{ site.title }}</h1>
      <img src="/assets/images/ohio-palestine.png" alt="" aria-hidden="true">
    </span>
    <p>
      {{ site.description }} 
      {% if site.data.last-updated.date %}
      <span>
        Last updated: {{ site.data.last-updated.date | date: "%B %-d, %Y" }}
      </span>
      {% endif %}
    </p>
  </header>

  <main class="site__content">
    {{ content }}
  </main>

  <footer class="site__footer">
    <p>
      To submit an event, please <a href="https://instagram.com/@skvllface">DM @skvllface on Instagram</a>.
      To learn more about protest safety, visit <a href='https://protest.wtf'>protest.wtf</a>.
    </p>
  </footer>

  </body>
</html>
