html {
  font-family: 
  'aktiv-grotesk', '-apple-system', 'BlinkMacSystemFont', 'Noto Sans', 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;
  background-color: #ebe4d7;
}

body {
  padding: 2rem;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #ebe4d7;
  }
}
