html {
  font-family: 
  'aktiv-grotesk', '-apple-system', 'BlinkMacSystemFont', 'Noto Sans', 'Segoe UI', 'Helvetica', 'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;
  background-color: #ebe4d7;
  text-wrap: pretty;
}

body {
  padding: 1.5rem;
}

@media (min-width: 768px) {
  body {
    padding: 3em;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #ebe4d7;
  }
}

.site,
.site__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

a {
  text-decoration-color: #c7c2b8;
  transition: all 300ms ease-in-out;
  
  &:hover {
    text-decoration-color: inherit;
  }
}